body{
    background-color: antiquewhite;
}
p{
    text-align: justify; 
    color: darkblue;
}

h1{
    color: darkred;
}

img {
    height: 100px;
}

.kozepre {
    text-align: center;
}

.nagy-meretu-betu{
    font-size: 92px 
}

.kiemelt{
    font-weight: bold;
    font-style: italic;
}

.dolt-piros-felkover{
    font-style: italic;
    color: red;
    font-weight: bold;
}

#kep-kenyer{
    background-color: blue;
}

#kep-kolbasz{
    background-color: yellow;
}